body{
    background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e9f89227fb48a0cac861026_New-Footer-BG%401x.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 480px 900px, auto;
}

header{
    margin-bottom:8px;
}
.img{
    height: 100px;
    width: 100px;
}

div.polaroid{
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    overflow: auto;
    margin-left:5px;
    margin-right:6px;
}

div.container {
    text-align: center;
    padding: 5px 10px;
}

.pa{
    margin-left:20px;
    text-align: auto;
}

p{
    font-family:"Courier New", monospace;
}

.heading{
    text-transform: uppercase;
    font-weight:900;
}

@media (min-width: 900px) {
    body{
        background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e9f89227fb48a0cac861026_New-Footer-BG%401x.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:cover, auto;
    }

    header{
        margin-bottom:8px;
    }
    .img{
        height: 200px;
        width: 200px;
    }

    div.polaroid{
        width:200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        overflow: auto;
        margin-left:5px;
    }

    div.container {
        text-align: center;
        padding: 10px 20px;
        float:left;
    }

    .pa{
        margin-left:220px;
        text-align: -webkit-center;
    }

    p{
        font-family:"Courier New", monospace;
    }

    .heading{
        text-transform: uppercase;
        font-weight:900;
    }
}